@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.app{
    position: relative;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.modal{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    z-index: 2;
}
.overlay{
    font-family: ;
    padding:20px;
    background-color: aliceblue;
    border-radius: 10px;
    width:50%;
    height:50%;
    text-align: center;
}